/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
img {
  width: 100px;
}

a {
  text-decoration: none;
  color: white;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 20px;
  overflow: hidden;
}

.menu__container {
  width: 900px;
  margin: 0 auto;
}

.main__container {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .start__menu::after {
    display: none;
  }
  .start__menu::before {
    display: none;
  }
}
@media (max-width: 1170px) {
  .main__container {
    width: 900px;
  }
  .main__container .body {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10PX;
  }
  .main__container .body .body__img img {
    width: 350px;
    height: 350px;
  }
  .main__container .body .body__main {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .main__container .body .body__main .body__title {
    font-size: 40px;
  }
  body .footer {
    background-color: rgb(22, 29, 46);
    height: 250px;
    margin-top: 25px;
    border-radius: 100px;
  }
  body .footer .footer__title {
    padding-top: 25px;
    width: 200px;
    margin: 0 auto;
    color: rgb(42, 55, 87);
  }
}
@media (max-width: 900px) {
  body .menu__container {
    width: 600px;
  }
  body .main__container {
    width: 600px;
  }
}
@media (max-width: 600px) {
  body .footer {
    background-color: rgb(22, 29, 46);
    height: 250px;
    margin-top: 38px;
    border-radius: 100px;
  }
  body .footer .footer__title {
    padding-top: 25px;
    width: 200px;
    margin: 0 auto;
    color: rgb(42, 55, 87);
  }
  body .menu__container {
    width: 380px;
  }
  body .menu__container .menu__icon p {
    font-size: 25px;
  }
  body .menu__container .menu__icon p span {
    font-size: 25px;
  }
  body .menu__container .menu__icon img {
    width: 25px;
  }
  body .menu__container .menu__contact {
    padding: 8px;
  }
  body .menu__container .menu__contact a {
    font-size: 16px;
  }
  body .menu__container .menu__contact img {
    width: 20px;
  }
  body .main__container {
    width: 380px;
  }
  body .main__container .body {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10PX;
  }
  body .main__container .body .body__img img {
    width: 250px;
    height: 250px;
  }
  body .main__container .body .body__main {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  body .main__container .body .body__main .body__title {
    font-size: 30px;
  }
  body .main__container .body .body__main .body__text {
    font-size: 15px;
    margin: 0 auto;
    width: 380px;
  }
  body .main__container .body .body__main .body__btn {
    width: 100px;
    padding: 10px;
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  background-color: rgb(22, 29, 46);
  align-items: center;
  border: solid 1px rgb(22, 29, 46);
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
}

.menu__icon {
  display: flex;
  gap: 10px;
}
.menu__icon p {
  font-size: 50px;
  font-weight: 700;
}
.menu__icon p span {
  font-size: 50px;
  font-weight: 700;
  color: rgb(93, 121, 192);
}
.menu__icon img {
  width: 60px;
}

.menu__contact {
  border-radius: 50px;
  padding: 12px;
  background-color: rgb(42, 55, 87);
}
.menu__contact a {
  font-weight: 700;
  display: flex;
  gap: 5px;
}
.menu__contact img {
  width: 25px;
}

.start {
  background-color: rgb(35, 45, 69);
  height: 911px;
}

.start__menu {
  padding-top: 30px;
}

.start__menu::after {
  background-color: rgb(22, 29, 46);
  border-radius: 50px;
  position: absolute;
  width: 400px;
  height: 25px;
  content: " ";
  right: 40px;
  top: 55px;
}

.start__menu::before {
  background-color: rgb(22, 29, 46);
  border-radius: 50px;
  position: absolute;
  width: 400px;
  height: 25px;
  content: " ";
  left: 40px;
  top: 55px;
}

.body {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  text-align: center;
  align-items: center;
}

.body__img img {
  width: 550px;
  height: 550px;
}

.body__main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.body__main .body__title {
  font-size: 80px;
  font-weight: 700;
  width: 500px;
}
.body__main .body__text {
  width: 500px;
}
.body__main .body__btn {
  font-size: 700;
  border-radius: 50px;
  background-color: rgb(93, 121, 192);
  width: 100px;
  margin: 0 auto;
  padding: 15px;
}

.footer {
  background-color: rgb(22, 29, 46);
  height: 250px;
  margin-top: 60px;
  border-radius: 100px;
}

.footer__title {
  padding-top: 50px;
  width: 200px;
  margin: 0 auto;
  color: rgb(42, 55, 87);
}

.scheme {
  background-color: rgb(35, 45, 69);
  height: 100vh;
}

.card-1 {
  display: block;
  text-align: center;
  height: 645px;
}
.card-1 img {
  width: 250px;
  height: 400px;
}
.card-1 ul {
  width: 300px;
}
.card-1 ul li {
  margin-top: 15px;
}
.card-1 ul li a {
  font-weight: 700;
  color: rgb(59, 59, 211);
}

.card-2 {
  text-align: center;
  height: 645px;
  display: none;
  padding-top: 40px;
}
.card-2 img {
  width: 225px;
  height: 400px;
}
.card-2 ul {
  width: 300px;
}
.card-2 ul li {
  margin-top: 15px;
}

.card-3 {
  text-align: center;
  height: 645px;
  display: none;
}
.card-3 img {
  width: 575px;
  height: 400px;
}
.card-3 ul {
  width: 575px;
}
.card-3 ul li {
  margin-top: 15px;
}

.slider {
  margin-top: 80px;
  display: flex;
  gap: 80px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider__btn {
  background-color: rgb(93, 121, 192);
  padding: 15px;
  border-radius: 50px;
}

.slider__btn-back {
  background-color: rgb(93, 121, 192);
  padding: 15px;
  border-radius: 50px;
  cursor: not-allowed;
}
.slider__btn-back .btn-back {
  cursor: not-allowed;
}/*# sourceMappingURL=main.css.map */