.footer{
    background-color:  $nav-color;;
    height: 250px;
    margin-top: 60px;
    border-radius: 100px;
}

.footer__title{
    padding-top: 50px;
    width: 200px;
    margin: 0 auto;
    color: rgb(42, 55, 87);
}